[Unit]
Description=get mail using offlineimap

[Timer]
OnStartupSec=3min
# re-run every 20 minutes
# handled by goimapnotify now
# OnUnitActiveSec=20m
Persistent=true

[Install]
WantedBy=timers.target
