[Unit]
Description=reload newsboat feeds
Wants=dhclient@enp58s0f1.service
After=dhclient@enp58s0f1.service

[Service]
Type=oneshot
ExecStart=/usr/bin/newsboat -x reload
