# .aliases

alias ls="ls -hFA --color=auto"
alias vdir='vdir --color=auto'

alias grep='grep --ignore-case --color=auto'
alias fgrep='fgrep --ignore-case --color=auto'
alias egrep='egrep --ignore-case --color=auto'

alias mv="mv -i"
alias rm="rm -I"

alias vi="vim -p"
alias vim="vim -p"
alias view="vim -R"

alias cal="cal --three"

alias strings="strings --all"

alias irc="exec screen -raAd"

alias gcc99="gcc -std=c99 -Wall -pedantic"
alias ghc="ghc -dynamic" # this improves the performance of the linker
# once more, with optimizations
alias ogcc99="gcc -std=c99 -Wall -pedantic -O2 -s"
alias oghc="ghc -dynamic -Wall -O2" # this should also strip but that's harder

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert="echo -ne '\a'"

if [ "$HOST" = "multivac" ]; then
    alias mplayer="mplayer -vo sdl"
fi

alias lab="ssh soucydi194@137.143.158.1"
