# .aliases

alias ls="ls -hFA --color=auto"
alias vdir='vdir --color=auto'
alias tree='tree --dirsfirst --du -ChFaL 2'

alias grep='grep --ignore-case --color=auto --binary-files=without-match'
alias fgrep='fgrep --ignore-case --color=auto --binary-files=without-match'
alias egrep='egrep --ignore-case --color=auto --binary-files=without-match'

mcd() {
    test -d "$1" || mkdir "$1" && cd "$1"
}

alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -I"

alias vi="vim -p"
alias view="vim -Rp"

alias diff="diff --unified"

alias cal="cal --three"
alias today='date +"%A, %B %-d, %Y"'

alias free="free --human"
alias du="du --human-readable"
alias df="df --human-readable"

alias curl="curl --remote-name-all"

alias scrot="scrot 'scrot-1%Y-%m-%d-%H%M%S.png' --exec 'mv \$f ~/pics/scrots'"

alias strings="strings --all"

alias sxiv="sxiv -a"
alias ffeh="feh --full-screen"

alias irc="exec screen -aAdR"
alias weechat="exec weechat"

alias gcc99="gcc -std=c99 -Wall -Wextra -Wpedantic -Wstrict-prototypes -Wold-style-definition -pipe"
alias ghc="ghc -dynamic -no-keep-o-files -no-keep-hi-files"
alias ghcw="ghc -Wall -Wincomplete-uni-patterns -Wincomplete-record-updates \
            -Wmissing-import-lists"
# once more, with optimizations
alias ogcc99="gcc -std=c99 -Wall -pedantic -O2 -s -march=native -pipe"
alias oghc="ghc -dynamic -Wall -O2" # this should also strip but that's harder

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert="echo -ne '\a'"

# if [ "$HOST" = "multivac" ]; then
#     alias mplayer="mplayer -vo sdl"
# fi
alias fastmplayer="mplayer -fs -framedrop -lavdopts lowres=1:fast:skiploopfilter=all"

alias testmic="arecord -d 2 -f dat testmic.wav ; mplayer testmic.wav ; rm testmic.wav"
