# .aliases

alias sudo="sudo " # recommended by archwiki to enable aliases with sudo

# just until my patch is accepted
alias detox="detox -f ~/dotfiles/.config/detox/detoxrc"

if which exa > /dev/null ; then
    alias ls="TZ=/usr/share/zoneinfo/Canada/Eastern exa --classify --all --links --group --git"
else
    alias ls="ls -hFA --color=auto"
fi

alias vdir='vdir --color=auto'
alias tree='tree --dirsfirst --du -ChFaL 2 -I .git/'

alias grep='grep --ignore-case --color=auto --binary-files=without-match'
alias fgrep='fgrep --ignore-case --color=auto --binary-files=without-match'
alias egrep='egrep --ignore-case --color=auto --binary-files=without-match'
alias ack='ack --smart-case'

mcd() {
    test -d "$1" || mkdir "$1" && cd "$1"
}

mgit() {
    git clone "$1" && cd "$(basename "$1" ".git")"
}

random() {
    head --bytes 1000 /dev/urandom | tr -dc '[:alnum:]' | fold -w 50 | head -n 1
}

alias offlineimap="pass dummy > /dev/null && offlineimap"

alias cp="cp -i"
alias mv="mv -i"
alias rm="trash"

alias vi="vim -p"
alias vim="vim -p"
alias view="vim -Rp"

alias diff="diff --unified"

alias cal="cal --three"
alias today='date +"%A, %B %-d, %Y"'

alias free="free --human"
alias du="du --human-readable"
alias df="df --human-readable --print-type"

alias curl="curl --remote-name-all --location"

alias scrot="scrot 'scrot-1%Y-%m-%d-%H%M%S.png' -l mode=edge --exec 'mv \$f ~/pics/scrots'"

alias strings="strings --all"

alias sxiv="sxiv -a"
alias ffeh="feh --full-screen"

alias irc="exec screen -aAdR"

alias bake="make -j"

alias makepkg="makepkg --clean"

alias ghc="ghc -dynamic -Wall -O1 -no-keep-o-files -no-keep-hi-files \
           -Wincomplete-uni-patterns -Wincomplete-record-updates \
           -Wmissing-import-lists -Wpartial-fields -Wredundant-constraints \
           -Widentities"

alias gcc="gcc -std=c99 -Wall -Wextra -Wstrict-prototypes -Wold-style-definition -pipe"
alias gcco="gcc -std=c99 -Wall -Wextra -O3 -s -march=native -pipe"
alias gcc99="gcc -std=c99 -fsanitize=address -fsanitize=pointer-subtract -ftrapv -fwrapv -fno-strict-aliasing -fdelete-null-pointer-checks -pipe -ggdb -Wpedantic -Werror -Wall -Wextra -Wundef -Wcast-align -Wwrite-strings -Wunreachable-code -Wformat=2 -Wformat-overflow=2 -Winit-self -Wunused-result -Wstrict-aliasing"
alias gcc11="gcc -std=c11 -ggdb -pipe -Wall -Wextra -Wpedantic -Waggregate-return -Walloc-zero -Walloca -Wbad-function-cast -Wcast-align -Wcast-align=strict -Wcast-qual -Wconversion -Wdate-time -Wdisabled-optimization -Wdouble-promotion -Wduplicated-branches -Wduplicated-cond -Wfloat-equal -Wformat=2 -Wformat-overflow=2 -Wformat-signedness -Wformat-truncation=2 -Winit-self -Winline -Winvalid-pch -Wjump-misses-init -Wlogical-op -Wmissing-declarations -Wmissing-format-attribute -Wmissing-include-dirs -Wmissing-noreturn -Wmissing-prototypes -Wmultichar -Wnested-externs -Wnormalized=nfkc -Wnull-dereference -Wold-style-definition -Wredundant-decls -Wshadow -Wstack-protector -Wstrict-aliasing -Wstrict-prototypes -Wstringop-overflow=4 -Wswitch-enum -Wswitch-default -Wtrampolines -Wundef -Wunreachable-code -Wunused-const-variable=2 -Wunused-macros -Wunused-result -Wvector-operation-performance -Wwrite-strings"

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert="echo -ne '\a'"

eval $(thefuck --alias osti)

mutt() {
    if pgrep '^mutt$' > /dev/null ; then
        echo 'warning: mutt is already running'
        read
        /usr/bin/mutt -R
    else
        pushd ~/downloads/mutt > /dev/null
        /usr/bin/mutt
        popd > /dev/null
    fi
}

alias fastmplayer="mplayer -fs -framedrop -lavdopts lowres=1:fast:skiploopfilter=all"
alias mpv="mpv --demuxer-max-bytes=900M"

alias testmic="arecord -d 2 -f dat testmic.wav ; mplayer testmic.wav ; rm testmic.wav"

alias startx="startx -- -keeptty >> /tmp/xorg.log 2>&1"
