[user]
	name = dan soucy
	email = warfegle@hotmail.com
[core]
    editor = vim
[credential]
	helper = cache --timeout=604800
[push]
	default = current
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
    ui = true
