[user]
    name = dan soucy
    email = email@email.com
	signingkey = C018929BFBD9F126
[core]
    editor = vim
    hooksPath = ~/dotfiles/git_hooks
    excludesfile = ~/dotfiles/.global_gitignore
[credential]
#     helper = cache --timeout=604800 # one week
    helper = cache --timeout=3600
[push]
    default = current
    followTags = true
[alias]
    aa = add --all
    lg = log --color --graph --date=relative --decorate=full --pretty=format:\"%C(green)%h, %C(yellow)%ad%C(red)%d %C(reset)- %C(bold red)%s%C(reset) %C(blue)(%an) %C(bold green)<%ae>\" 
    ld = log --color --graph --date=short --decorate=full --pretty=format:\"%C(yellow)%h %C(green)1%ad%Cred%d %Creset%s%Cblue (%cn) %C(bold green)<%ce>\"
    ll = log --color --decorate=full --stat --pretty=format:\"%C(yellow)%h%C(red)%d %C(white)%s%C(blue) (%cn)%C(reset)%n%B\" 

    last = log -n 1
    yesterday = log --branches --since=1.days.ago --author=\"<my name>\" --format=\"%s\" --no-merges

    rlg = !git lg -30

    amend = commit --amend
    sho = show
    co = checkout
    com = commit
    patch = add -p
	up = "!git remote update --prune; git merge --ff-only @{u}"

    main = checkout main

    fpush = push --force-with-lease

    unadd = reset HEAD
    uncommit = reset --soft HEAD^
    unstage = reset HEAD

    staged = diff --staged
    ctags = "!.git/hooks/ctags"

    tags = tag -l --sort=v:refname
    branches = branch -va
    remotes = remote -v

    root = rev-parse --show-toplevel
    discardmerge = reset --hard HEAD
    currentbranch = rev-parse --abrev-ref HEAD
    addremove = !git add . && git add -u

    das = !source "~/bin/util/git_pretty_print" && pretty_git_log # doesn't color properly

[color]
    ui = true
[merge]
    tool = vimdiff
[apply]
    whitespace = fix
[init]
	defaultBranch = main
[pull]
    ff = only
[commit]
	gpgsign = true
